/* Estilos para la nueva sección extra */
.informacion-extra {
    margin-top: 50px;
    padding: 30px;
    background: #ecf0f1; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    border-radius: 8px; /* Bordes redondeados */
    max-width: 80%; /* Ancho máximo de la sección */
    margin-left: auto;
    margin-right: auto; /* Centra la sección */
}

.informacion-extra h2 {
    font-size: 28px; /* Tamaño de fuente para el subtítulo */
    color: #27ae60; /* Color verde para el título */
    font-weight: bold;
    text-align: center;
}

.informacion-extra p {
    font-size: 18px; /* Tamaño de fuente para el párrafo */
    line-height: 1.6; /* Aumento del espacio entre líneas para mayor legibilidad */
    text-align: justify; /* Alinea el texto a ambos lados */
    margin-top: 20px;
}

.img-extra {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacio en la parte inferior de la imagen */
    margin: 0 auto; /* Centra la imagen */
}