body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #27ae60;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.nav-container {
    text-align: center;
    margin-top: 10px;
}

.nav-container a {
    color: black;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-form {
    display: flex;
    flex-direction: column;
}

.Datos {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #219150;
}

/* Contenedor principal para que el footer se quede abajo */
html, body {
    height: 100%; /* Hace que toda la página ocupe el 100% de la altura */
    margin: 0; /* Elimina cualquier margen por defecto */
    display: flex;
    flex-direction: column;
}

/* Contenedor principal que ocupa el espacio disponible y empuja el footer */
.page-container {
    flex: 1;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    width: 100%;
    position: relative;
}

/* Ajuste para pantallas más pequeñas */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    header {
        font-size: 18px;
        padding: 15px;
    }
}